#reviews {
    padding: 120px 0 150px;
    overflow: hidden;

    .section-title {

        &::before {
            content: '';
            position: absolute;
            top: -130px;
            left: 50%;
            transform: translateX(-50%);
            width: 30px;
            height: 100px;
            background: url('../images/icon/decor/pattern-title.png');
        }
    }
}